body {
	background-color: #ffffff;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: black;
	line-height: 1.5;
}

/*Стили для Шапки*/

header {
	background-image: url(../img/header_bg.jpg);
	background-color: #0f0e14;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 450px;
	padding-top: 50px;
	min-width: 940px;
	color: #ece0e1;
}

/*Обертка шапки*/

.wrapper {
	width: 940px;
	margin: 0 auto;
}

/*Стили левого Дива с логотипом и надписью*/

#logoHeader {
	width: 170px;
	text-align: center;
	margin: auto;
}

#club {
	text-align: center;
	color: #ece0e1;
	width: 200px;
	font-size: 18px;
	text-transform: uppercase;
	margin: 28px auto;
}

.fontBlack {
	font-size: 30px;
	font-family: 'Black Ops One', cursive, Canyon-Stencil, Arial, Helvetica, sans-serif;
}

.fontArial {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 15px;
}

.leftPart {
	float: left;
	padding: 10px;
	height: 340px;
	margin: auto;
	width: 212px;
}

/*Конец стилей левого Дива с логотипом и надписью*/

/*Стили центрального Дива в шапке с фотографией и слоганом*/

.centerPart {
	margin: 0 auto;
	width: 450px;
}

.img {
	text-align: center;
}

/*Конец стилей центрального дива*/

/*Стили правого дива с иконками и контактами*/

.rightPart {
	float: right;
	padding: 10px;
	height: 340px;
	margin: auto;
	width: 220px;
}

.rightPart div {
	background-size: 40px 40px;
	background-repeat: no-repeat;
	height: 40px;
	color: #ece0e1;
	text-align: right;
	line-height: 1.5;
	padding-left: 45px;
	padding-top: 3px;
}

#tel, #mail, #vk {
	font-size: 16px;
	margin-bottom: 10px;
	min-height: 40px;
	text-align: right;
	background-repeat: no-repeat;
	padding-top: 7px;
}

#tel {
	background-image: url(../img/tel.png);
}

#mail {
	background-image: url(../img/mail.png);
}

#mail a {
	text-decoration: none;
	color: #ece0e1;
	transition: 0.5s ease-out;
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-ms-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
}

#mail a:hover {
	border-bottom: 1px dotted #f70000;
	color: #f70000;
}

#vk {
	background-image: url(../img/vk.png);
}

#vk a {
	text-decoration: none;
	color: #ece0e1;
	transition: 0.5s ease-out;
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-ms-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
}

#vk a:hover {
	border-bottom: 1px dotted #f70000;
	color: #f70000;
}

#adress {
	background-image: url(../img/adress.png);
	font-size: 16px;
	background-repeat: no-repeat;
	text-align: right;
}

/*Конец стилей правой части шапки*/

/*Конец стилей Шапки сайта*/

/* Стили Навигации */

nav {
	background-color: #000000;
	min-height: 60px;
	background-image: url(../img/bg_nav.png);
	background-repeat: repeat-x;
	font-size: 18px;
	text-align: center;
}

.n_wrap {
	min-width: 940px;
	margin: 0 auto;
	text-align: center;
}

.n_wrap ul {
	margin: 0;
}

.n_wrap ul li {
	list-style-type: none;
	display: inline-block;
	margin: 15px;
}

.n_wrap ul li a {
	color: #f70000;
	margin: auto;
	transition: 0.35s ease-out;
	-webkit-transition: 0.35s ease-out;
	-moz-transition: 0.35s ease-out;
	-ms-transition: 0.35s ease-out;
	-o-transition: 0.35s ease-out;
}

.n_wrap ul li a:hover {
	color: #ece0e1;
}

.n_wrap ul li a:active {
	border: 1px solid #f70000;
	color: #ece0e1;
}

ul li.active a {
	color: #ece0e1;
}

/* Конец Стилей навигации */

/* Стили футера */

.footerImg {
	background-color: #000000;
	min-height: 340px;
	background-image: url(../img/footer_bg1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}

.f_down {
	min-width: 940px;
	min-height: 280px;
	background-image: url(../img/footer_bg2.jpg);
	background-color: #0f0e14;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.f_downWrap {
	width: 940px;
	margin: 0 auto;
	padding: 25px;
}

.f_logo {
	width: 162px;
	float: left;
	margin-right: 25px;
	margin-left: 15px;
}

.f_nav {
	width: 210px;
	float: left;
	margin-top: 9px;
	margin-right: 30px;
}
.f_nav ul li {
	list-style-type: none;
	font-size: 16px;

}

.f_nav ul li a {
	color: #f70000;
	margin: auto;
	transition: 0.35s ease-out;
	-webkit-transition: 0.35s ease-out;
	-moz-transition: 0.35s ease-out;
	-ms-transition: 0.35s ease-out;
	-o-transition: 0.35s ease-out;
}

.f_nav ul li a:hover {
	color: #ece0e1;
}

.f_contacts {
	width: 200px;
	float: left;
	color: #ece0e1;
	margin-right: 30px;
	margin-top: 9px;
}

.f_adress {
	width: 212px;
	float: left;
	float: left;
	color: #ece0e1;
	margin-top: 9px;
}

.myLogo {
	position: relative;
	bottom: 78px;
	left: 47%;
	width: 295px;
}
/* Конец стилей футера */

/* Стили Карусели */

#custom_carousel {
	width: 942px;
	margin: 40px auto;
	min-height: 500px;
}
div.item img {
	margin: 0 auto;
}

div.carousel-caption h3,
div.carousel-caption p {
	background-color: rgba(49, 48, 48, 0.4);
	color: #ece0e1
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
 }
.carousel-control {
  color: #f70000;
}


/* Конец стилей Карусели */

/* Стили основного контента */

.clear {
  clear: both;
}
.content {
  margin: 40px;
  position: relative;
}

.m_Wrap {
  max-width: 940px;
  margin: 20px auto;
}

.m_Text {
  width: 45%;
  text-align: center;
  float: left;
}

.m_Text h2 {
  font-family: 'Black Ops One', cursive, Canyon-Stencil, Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 2px black;
  }

  .m_Text p {
    text-align: justify;
    text-indent: 15px;
    font-size: 1.2em;
  }
  em {
    font-style: normal;
  }

  .m_Photo {
    width: 50%;
    float: right;
    padding-top: 55px;
  }

  .photo img {
    margin: 25px 10px;
    box-shadow: 2px 2px 2px rgba(49, 48, 48, 0.5),    -2px 2px 2px rgba(49, 48, 48, 0.5);
    border-radius:   5px;
    -webkit-border-radius:   5px;
    -moz-border-radius:   5px;
    -ms-border-radius:   5px;
    -o-border-radius:   5px;
}
  .photo div {
width: 30%;
float: left;
margin: 10px;
}